.footer {
    > div {
        > div {
            width: 80%;
            margin: 0 auto;
        }
    }

    > div:nth-child(1) {
        background-color: var(--color-bg-dark);
    }
    > div:nth-child(2) {
        background-color: rgb(25, 31, 50);
    }
}

.footer__footer-top {
    flex-wrap: nowrap;

    > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        > div {
            flex: 1;
            height: 100%;
        }
    }
}

.footer-top__logo {
    display: flex;
    align-items: center;
    column-gap: .5rem;

    img {
        width: 5rem;
    }

    > div {
        font-size: 2.2rem;
        color: var(--color-white);
        letter-spacing: 1px;
        span:nth-child(1) {
            font-weight: 300;
        }
        span:nth-child(2) {
            font-weight: 500;
        }
    }
}

.footer-top__desc {
    font-size: 1.3rem;
    color: var(--color-text-light);
}

.footer-top__contact {
    flex: 2;
    .contact__title {
        font-size: 1.8rem;
        letter-spacing: 1px;
        color: var(--color-white);
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-width: .6rem;
            border-left-color: red;
            border-right-color: transparent;
            border-top-color: transparent;
            border-bottom-color: transparent;
            border-style: solid;
            transform: rotate(-225deg);
            left: 9rem;
            bottom: 0;
        }
    }

    .contact__address {
        font-size: 1.3rem;
        color: var(--color-text-light);
        line-height: 1.4;
    }

    .contact__line {
        border: 1px dashed #8f8f8f;
    }

    .contact__detail {
        color: var(--color-text-light);
        font-size: 1.3rem;
        > div {
            display: flex;
            column-gap: 1rem;

            > span {
                > a {
                    color: var(--color-cyan);
                    text-decoration: none;
                }
            }
        }
    }
}

.footer-top__recent-posts {
    .recent-posts__title {
        font-size: 1.8rem;
        letter-spacing: 1px;
        color: var(--color-white);
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-width: .6rem;
            border-left-color: red;
            border-right-color: transparent;
            border-top-color: transparent;
            border-bottom-color: transparent;
            border-style: solid;
            transform: rotate(-225deg);
            left: 14rem;
            bottom: 0;
        }
    }

    .recent-posts__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .posts__item {
            display: flex;
            column-gap: 1rem;
            align-items: center;
            padding: .5rem;
            .item__circle {
                width: 6rem;
                height: 6rem;
               .circle {
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
                background-color: #8f8f8f;
               }
            }

            .item__content {
                display: flex;
                flex-direction: column;
                row-gap: .5rem;
                p {
                    font-size: 1.3rem;
                    color: var(--color-text-light);
                    line-height: 1.4;
                }

                div {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    span:nth-child(1) {
                        color: var(--color-cyan);
                    }
                    span:nth-child(2) {
                        color: var(--color-text-light);
                    }
                }
            }
        }
        .posts__item:nth-child(2) {
            .item__content {
                div {
                    span:nth-child(2) {
                        color: var(--color-cyan);
                    }
                }
            }
        }

        .posts__item:not(.posts__item:last-child) {
            border-bottom: 1px dashed #ccc;
        }
    }
}

.footer-top__useful-links {

    .useful-links__title {
        font-size: 1.8rem;
        letter-spacing: 1px;
        color: var(--color-white);
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-width: .6rem;
            border-left-color: red;
            border-right-color: transparent;
            border-top-color: transparent;
            border-bottom-color: transparent;
            border-style: solid;
            transform: rotate(-225deg);
            left: 14rem;
            bottom: 0;
        }
    }

    > ul {
        list-style: none;
        row-gap: .7rem;
        li {
            font-size: 1.3rem;
            color: var(--color-text-light);
            display: flex;
            align-items: center;
            column-gap: 1rem;
            padding: 1rem 0;
            .disc {
                width: .5rem;
                height: .5rem;
                background-color: var(--color-cyan);
                border-radius: 50%;
            }
        }

        li:not(li:last-child) {
            border-bottom: 1px dashed var(--color-cyan);
        }
    }
}

.footer-top__email-us {
    .email-us__title {
        font-size: 1.8rem;
        letter-spacing: 1px;
        color: var(--color-white);
        position: relative;
        margin-bottom: 1rem;
        &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-width: .6rem;
            border-left-color: red;
            border-right-color: transparent;
            border-top-color: transparent;
            border-bottom-color: transparent;
            border-style: solid;
            transform: rotate(-225deg);
            left: 9rem;
            bottom: 0;
        }
    }
    > div {
        position: relative;
        input {
            padding: .8rem 2.5rem .8rem 1rem; 
            border-radius: .4rem;
            background-color: #1f213e;
            border: 1px solid rgb(44, 50, 98);
            font-size: 1.3rem;
            color: var(--color-text-light);
            width: 100%;
        }
        i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 4px;
            font-size: 1.3rem;
            color: var(--color-text-light);
        }
        textarea {
            padding: .8rem 2.5rem .8rem 1rem; 
            border-radius: .4rem;
            background-color: #1f213e;
            border: 1px solid rgb(44, 50, 98);
            font-size: 1.3rem;
            color: var(--color-text-light);
            width: 100%;
            resize: none;
            height: 8rem;
        }
    }
    button {
        background-color: #3e405a;
        padding: 1rem 0;
        color: var(--color-text-light);
        border-radius: 4px;
        border: none;
        font-weight: 500;
    }
}

.footer-top__projects {
    margin-top: .5rem;
    .project__title {
        font-size: 1.8rem;
        letter-spacing: 1px;
        color: var(--color-white);
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-width: .6rem;
            border-left-color: red;
            border-right-color: transparent;
            border-top-color: transparent;
            border-bottom-color: transparent;
            border-style: solid;
            transform: rotate(-225deg);
            left: 22rem;
            bottom: 0;
        }
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 1rem;
        row-gap: 1rem;
        width: 23rem;
        margin: 0 auto;
        div {
            width: 7rem;
            height: 7rem;
            background-color: #8f8f8f;
        }
    }

    .dots {
        div {
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            &:not(div:first-child) {
                background-color: #4d5189;
            }
        }
    }
}

.footer-top__flick-feed {
    .flick-feed__title {
        font-size: 1.8rem;
        letter-spacing: 1px;
        color: var(--color-white);
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-width: .6rem;
            border-left-color: red;
            border-right-color: transparent;
            border-top-color: transparent;
            border-bottom-color: transparent;
            border-style: solid;
            transform: rotate(-225deg);
            left: 11rem;
            bottom: 0;
        }
    }

    .flick-feed__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 1rem;
        row-gap: 1rem;
        list-style: none;
        width: 23rem;
        margin: 0 auto;
        li {
            width: 7rem;
            height: 7rem;
            background-color: #8f8f8f;
        }
    }
}

.footer-top__newsletter {
    .newsletter__title {
        font-size: 1.8rem;
        letter-spacing: 1px;
        color: var(--color-white);
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-width: .6rem;
            border-left-color: red;
            border-right-color: transparent;
            border-top-color: transparent;
            border-bottom-color: transparent;
            border-style: solid;
            transform: rotate(-225deg);
            left: 13rem;
            bottom: 0;
        }
    }

    .newsletter__desc {
        font-size: 1.4rem;
        color: var(--color-text-light);
    }

    .newsletter__email {
        form {
            position: relative;
            input {
                padding: .8rem 4rem .8rem 1rem; 
                border-radius: .4rem;
                background-color: #1f213e;
                border: 1px solid rgb(44, 50, 98);
                font-size: 1.2rem;
                color: var(--color-text-light);
                width: 100%;
            }
            button {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                height: 100%;
                padding: .4rem 1.4rem;
                background-color: #4d5189;
                border: none;
                border-radius: 4px;
                i {
                    color: #8f8f8f;
                }
            }
        }

        > span {
            font-size: 1.2rem;
            color: var(--color-text-light);
        }
    }
}

.footer__footer-bottom {
    padding: 2.5rem 0;
}

.footer-bottom__left {
    font-size: 1.2rem;
    color: var(--color-text-light);
    span {
        color: var(--color-cyan);
    }
}

.footer-bottom__center {
    a {
        text-decoration: none;
        font-size: 1.2rem;
        color: var(--color-text-light);
        padding: 0 1rem;
    }

    .footer-bottom__line {
        height: 1.2rem;
        width: 1px;
        background-color: var(--color-text-light);
    }
}

.footer-bottom__icons {
    justify-content: right;
    font-size: 1.2rem;
}

@media screen and (max-width: 1200px) {
    .footer__footer-top {
        flex-wrap: wrap;
        row-gap: 3rem;

        h3 {
          font-size: 1.6rem;
        }
        .footer-top__projects {
          .list {
              justify-content: center;
            }
        }

        .footer-top__flick-feed {
          .flick-feed__list {
              justify-content: center;
          }
        }
    }

    .footer__footer-bottom {
        flex-wrap: wrap;
        row-gap: 3rem;

        > div {
          .footer-bottom__center {
              justify-content: left;
              column-gap: 0;
          }

          .footer-bottom__icons {
              justify-content: left;
          }
        }
    }
}
  
