* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}
.container {
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.row [class^="col-"] {
  --column-width: calc(100% / (12 / var(--column-size)));
  flex-basis: var(--column-width);
  max-width: var(--column-width);
}

[class^="px-"] {
  padding-left: var(--padding-size);
  padding-right: var(--padding-size);
}

[class^="py-"] {
  padding-top: var(--padding-size);
  padding-bottom: var(--padding-size);
}

[class^="gap-"].row {
  margin: 0 calc(-1 * var(--gap-size) / 2);
}

[class^="gap-"].row [class^="col-"] {
  padding: 0 calc(var(--gap-size) / 2);
}

.gap-1 {
  --gap-size: 1rem;
}

.gap-2 {
  --gap-size: 2rem;
}

.gap-3 {
  --gap-size: 3rem;
}

.gap-4 {
  --gap-size: 4rem;
}

.gap-5 {
  --gap-size: 5rem;
}

.px-1 {
  --padding-size: 1rem;
}

.px-2 {
  --padding-size: 2rem;
}

.px-3 {
  --padding-size: 3rem;
}

.px-4 {
  --padding-size: 4rem;
}

.px-5 {
  --padding-size: 5rem;
}

.px-6 {
  --padding-size: 6rem;
}

.px-7 {
  --padding-size: 7rem;
}

.px-8 {
  --padding-size: 8rem;
}

.px-9 {
  --padding-size: 9rem;
}

.px-10 {
  --padding-size: 10rem;
}

.py-1 {
  --padding-size: 1rem;
}

.py-2 {
  --padding-size: 2rem;
}

.py-3 {
  --padding-size: 3rem;
}

.py-4 {
  --padding-size: 4rem;
}

.py-5 {
  --padding-size: 5rem;
}

.py-6 {
  --padding-size: 6rem;
}

.py-7 {
  --padding-size: 7rem;
}

.py-8 {
  --padding-size: 8rem;
}

.py-9 {
  --padding-size: 9rem;
}

.py-10 {
  --padding-size: 10rem;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.col-1 {
  --column-size: 1;
}

.col-2 {
  --column-size: 2;
}

.col-3 {
  --column-size: 3;
}

.col-4 {
  --column-size: 4;
}

.col-5 {
  --column-size: 5;
}

.col-6 {
  --column-size: 6;
}

.col-7 {
  --column-size: 7;
}

.col-8 {
  --column-size: 8;
}

.col-9 {
  --column-size: 9;
}

.col-10 {
  --column-size: 10;
}

.col-11 {
  --column-size: 11;
}

.col-12 {
  --column-size: 12;
}

@media screen and (min-width: 1200px) {
  .col-xl-1 {
    --column-size: 1;
  }

  .col-xl-2 {
    --column-size: 2;
  }

  .col-xl-3 {
    --column-size: 3;
  }

  .col-xl-4 {
    --column-size: 4;
  }

  .col-xl-5 {
    --column-size: 5;
  }

  .col-xl-6 {
    --column-size: 6;
  }

  .col-xl-7 {
    --column-size: 7;
  }

  .col-xl-8 {
    --column-size: 8;
  }

  .col-xl-9 {
    --column-size: 9;
  }

  .col-xl-10 {
    --column-size: 10;
  }

  .col-xl-11 {
    --column-size: 11;
  }

  .col-xl-12 {
    --column-size: 12;
  }

  .d-xl-none {
    display: none;
  }

  .d-xl-block {
    display: block;
  }
}
