.header {
  padding: 2rem 4rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--color-bg-dark);
  box-shadow: 0 0 1px var(--color-bg-dark);
}

.header .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

.header .logo img {
  width: 3rem;
}

.header .logo span {
  color: var(--color-white);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.header nav ul li a {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-text-light);
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.header nav ul li .active {
  border: 0.3rem #fff solid;
  color: var(--color-white);
  border-radius: 2px;
}

.header nav ul li a:hover {
  color: var(--color-cyan);
}

.header nav ul li .active:hover {
  border-color: var(--color-cyan);
}

.header .options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.header .options img {
  width: 2rem;
}

.header .options i {
  color: var(--color-text-light);
  font-size: 1.6rem;
}

.header .options .cart {
  position: relative;
}

.header .options .cart span {
  position: absolute;
  width: 3rem;
  height: 1.5rem;
  background-color: var(--color-cyan);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: -4.2rem;
  color: var(--color-white);
  font-weight: 500;
}

.header .options .cart span::before {
  content: "";
  width: 0;
  height: 0;
  border-width: 0.6rem;
  border-style: solid;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: var(--color-cyan);
  border-top-color: var(--color-cyan);
  position: absolute;
  top: 0.2rem;
  left: -0.5rem;
  transform: rotate(-45deg);
}

.header .header-right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header .header-right .close-btn {
  color: var(--color-white);
  font-size: 3rem;
  margin-left: auto;
}

.header .header-right .close-btn i {
  display: block;
  padding: 0.5rem 2rem;
  margin-top: 1.6rem;
}

.header .bar-btn {
  font-size: 3.2rem;
  color: var(--color-white);
  cursor: pointer;
  text-align: right;
  display: block;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

input[type="checkbox"]:checked + .overlay {
  opacity: 0.5;
  visibility: visible;
}
input[type="checkbox"]:checked ~ .header .container .row > a + div {
  transform: translateX(0);
}

@media screen and (max-width: 1200px) {
  .header .container .row > a + div {
    display: block;
    position: fixed;
    width: 40rem;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    transform: translateX(60rem);
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: linear;
  }

  .header .header-right > div {
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    align-items: center;
  }

  .header .header-right nav ul {
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .header .container .row > a + div {
    width: 100%;
  }
}
